{% extends 'base.html' %}

{% block content %}
  <!-- Breadcrumbs-->
  <ol class="breadcrumb">
    <li class="breadcrumb-item">
      <a href="#">Dashboard</a>
    </li>
    <li class="breadcrumb-item active">Last trade</li>
  </ol>

  <!-- DataTables Example -->
  <div class="card mb-3">
    <div class="card-header">
      <i class="fas fa-table"></i>
      Last trades ({{instrumentName}}) </div>
    <div class="card-body">
      <div class="table-responsive">
        <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
          <thead>
            <tr>
              <th>IndexPrice</th>
              <th>Quantity</th>
              <th>TickDirection</th>
              <th>TradeSeq</th>
              <th>Direction</th>
              <th>Amount</th>
              <th>Timestamp</th>
              <th>price</th>
              <th>iv</th>
            </tr>
          </thead>
          <tfoot>
            <tr>
              <th>IndexPrice</th>
              <th>Quantity</th>
              <th>TickDirection</th>
              <th>TradeSeq</th>
              <th>Direction</th>
              <th>Amount</th>
              <th>Timestamp</th>
              <th>price</th>
              <th>iv</th>
            </tr>
          </tfoot>
          <tbody>
            {% for trade in trade_list %}
            <tr>
              <td>{{trade.indexPrice}}</td>
              <td>{{trade.quantity}}</td>
              <td>{{trade.tickDirection}}</td>
              <td>{{trade.tradeSeq}}</td>
              <td>{{trade.direction}}</td>
              <td>{{trade.amount}}</td>
              <td>{{trade.timeStamp}}</td>
              <td>{{trade.price}}</td>
              <td>{{trade.iv}}</td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
    <div class="card-footer small text-muted">Updated yesterday at 11:59 PM</div>
  </div>

  <p class="small text-center text-muted my-5">
    <em>More table examples coming soon...</em>
  </p>
{% endblock %}
